include CODE_OF_CONDUCT.md
global-exclude *.py[cod] __pycache__ *.so
include ties/scripts/openmm/*
include ties/scripts/ambertools/*in
include ties/scripts/namd/*namd
include ties/scripts/vmd/*vmd
include ties/scripts/vmd/*sh
include ties/data/element_atom_type_map.txt
include ties/version.txt
include LICENSE.txt
graft ties/testing
graft ties/examples
