<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>TIES 20 (sketch)</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">

            <h1>Upload files for TIES20 </h1>
            <hr>

            <form action="/" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <label>Select image</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="ligand_ini" id="INI">
                        <label class="custom-file-label" for="INI">Select INI file (.mol2, .ac, .pdb)</label>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="ligand_fin" id="FIN">
                        <label class="custom-file-label" for="FIN">Select FIN file (.mol2, .ac, .pdb)</label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Net molecule charge (integer):</label>
                    <input type="text" class="form-control" name="net_charge" id="net_charge" aria-describedby="basic-addon3">
                </div>

                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" id="password" name="password" class="form-control" data-toggle="password">
                </div>

                <button type="submit" class="btn btn-primary">Upload And Download Results </button>

            </form>

        </div>
    </div>
</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
</body>
</html>

